@import 'vars';
header{
    
    position: relative;
    display: flex;
     flex-direction: column;
     justify-content: center; 
     width: 100%;
     min-width: 320px;
     height: 400px;
     text-align: center;
     background: linear-gradient(207.8deg, var( --white) 16.69%, var(--green) 100%);
  }
  
  header img {
  
      width: 150px;
      height: 24px;
      margin-top: 60px;
      align-self: center;
  }
  
  .hedear-title-container{
      width: 90%;
      min-width: 288px;
      max-width: 900px;
      height: 218px;
      margin-top: 40px;
      text-align: center;
      align-self: center;
  }
  /* hasta la clase 9 */
  
  .hedear-title-container h1 {
     font-size: 2.4rem;
     font-weight: bold;
     line-height: 2.6rem;
     color: var(--just-white); 
  }
  
  
  .hedear-title-container p {
      margin-top:25px;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.8rem;
      color: var(--soft-oragen);
  
  }

  .container-home-img {
     position: relative;
    display: flex;
     flex-direction: column;
     justify-content: center; 
     width: 100%;
     min-width: 320px;
     height: 400px;
     text-align: center;
  }

  .container-home-img img {
      width: 240px;
      height: 240px;
      margin-top: 60px;
      align-self: center;
      border-radius: 10px;

  }

  .container-home-img p{
    margin-top:25px;
    margin-bottom: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-oragen);
  }



 
  
  