@import 'vars';

.objetivoH {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    width: 100%;
    min-width: 320px;
    height: 300px;
    text-align: center;
    
} 


.objetivoH p{

    margin-top:25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-oragen);
}



