* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

/* ======================== */
.slides {
  position: relative;
  background: rgb(228, 228, 228);
  height: 60vh;
  overflow: hidden;
}

.slides::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 10;
  background-color:
    rgba(27, 112, 66, 0.25);
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  animation: cycle 40s infinite;
  animation-delay: 0s;
}

.slide-2 {
  animation-delay: 10s;
}

.slide-3 {
  animation-delay: 20s;
}

.slide-4 {
  animation-delay: 30s;
}รง


.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes cycle {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  20% {
    opacity: 1;
    transform: scale(1.05);
  }

  30% {
    opacity: 0;
    transform: scale(1.05);
  }

  100% {
    opacity: 0
  }
}